@import "src/styles/globals"

.heading
  font-weight: 600
  font-size: 2.9rem
  letter-spacing: .25rem
  margin-bottom: 10rem
  text-align: center
  text-transform: uppercase
  &:after
    content: ""
    background-color: $red
    width: 9rem
    height: .4rem
    display: block
    position: relative
    left: 50%
    transform: translateX(-50%)
    margin-top: 3rem
