@import "../../../styles/globals"

$animationCurve: cubic-bezier(0.68,-0.59, 0.24, 1.57)
$responsiveBreakpoint: 1250px

.wrapper
  height: 15rem
  width: 100%
  position: fixed
  top: 0
  z-index: 100
  background-color: transparent
  transition: height $animationCurve 700ms, box-shadow $animationCurve 700ms

.wrapperShrinked
  height: 10rem
  background-color: $background
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.14)

.logo
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 20rem
  left: 6rem

.burgerMenu
  position: absolute
  top: 62%
  left: 50%
  transform: translateY(-64%) translateX(-50%)
  transition: top $animationCurve 700ms, transform $animationCurve 700ms

.info
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: 0

.email
  color: $darkblue
  font-weight: 600
  transition: color ease .15s
  &:hover
    text-decoration: underline


@media only screen and (max-width: $responsiveBreakpoint)
  .info
    display: none
  .burgerMenu
    top: 64%
    left: initial
    right: 6rem
  .burgerMenuShrinked
    top: 80%
    transform: translateY(-80%) translateX(-50%)

@media only screen and (max-width: $mobile_600)
  .logo
    left: 3rem
  .burgerMenu
    right: 3rem

@media only screen and (max-width: 440px)
  .logo
    width: 18rem
  .wrapper
    height: 12rem
  .wrapperShrinked
    height: 8rem
  .burgerMenu
    top: 70%
    transform: translateY(-70%) translateX(-50%) scale(.9)
  .burgerMenuShrinked
    top: 100%
    transform: translateY(-100%) translateX(-50%) scale(.9)
