@import "src/styles/globals"

.whiteSpaceWrapper
    padding: 0 8%

.slideWrapper
    border-radius: 6px 6px 0 0

.screenshotWrapper
    overflow: hidden
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2), 3px 3px 35px rgba(0, 0, 0, 0.3), 5px 5px 50px rgba(0, 0, 0, 0.1), 5px 5px 70px rgba(0, 0, 0, 0.1)

.img
    width: 100%
    height: auto

.reflection
    width: 100%
    // height with JS
    // margin-top with JS
    position: relative
    overflow: hidden

.reflectionImg
    transform: rotate(180deg) scaleX(-1)
    width: 100%
    height: auto
    position: absolute
    top: 0
    left: 0
    filter: blur(4px)

.reflectionOverlay
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1

@media only screen and (max-width: 1000px)
    .whiteSpaceWrapper
        padding: 0 6%

@media only screen and (max-width: 800px)
    .whiteSpaceWrapper
        padding: 0 5%

@media only screen and (max-width: $mobile_600)
    .whiteSpaceWrapper
        padding: 0 4%
