@import "src/styles/globals"

$iconWrapperWidth: 5rem
$animationDuration: .5s

.outerWrapper
  position: relative

.wrapper
  height: 5rem
  border-radius: 5rem 0 0 5rem
  background-color: transparentize($white, 0.08)
  display: flex
  align-items: center
  transition: transform cubic-bezier(0.68, 0, 0.265, 1) $animationDuration, background-color ease-in-out .2s
  transform: translateX(calc(100% - #{$iconWrapperWidth}))
  position: relative
  z-index: 1
  overflow: hidden
  padding-right: 2rem

.wrapperActive
  transform: initial
  background-color: $white
  transition: transform cubic-bezier(0.68, -0.55, 0.265, 1) $animationDuration, background-color ease-in-out .2s

.iconWrapper
  padding-left: .5rem
  width: $iconWrapperWidth
  display: flex
  height: 100%
  cursor: $cursorAction
  position: relative
  background-color: transparent
  margin-right: 1.3rem
  transition: background-color ease $animationDuration, border-radius ease-in-out .5s

.iconWrapper2
  padding-left: 1.5rem

.iconWrapperActive
  // background-color: rgba(0, 0, 0, 0.06)
  border-radius: 1.5rem

.icon
    transition: color ease .15s
    margin: auto
    color: $darkblue

.iconHover
  // disabled

.contentWrapper
  height: 100%
  display: flex
  align-items: center


