@import "src/styles/globals"

.aboutUs
    margin-top: 13rem

.leistungen
    margin-top: 17rem

.liteDeskWrapper
    margin-top: 19rem

.webProjekte
    margin-top: 15rem

.warumDualmeta
    margin-top: 19rem

.stack
    margin-top: 14rem

.yafa
    margin-top: 18rem

.rezensionen
    margin-top: 28rem

.quote
    margin-top: 17rem

.kontakt
    margin-top: 17rem


@media only screen and (max-width: $tabletBig_1024)
    .aboutUs
        margin-top: 7rem
    .liteDeskWrapper
        margin-top: 17rem
    .webProjekte
        margin-top: 12rem
    .warumDualmeta
        margin-top: 16rem
    .yafa
        margin-top: 15rem
    .rezensionen
        margin-top: 21rem
    .quote
        margin-top: 14rem

@media only screen and (max-width: $mobile_600)
    .rezensionenContentBoxWrapper
        margin: 8rem 0 0
