@import "../../../../../styles/globals"
@import "../Services.module"

$iconWrapperSize: 7rem

.serviceWrapper
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 4%
  max-width: 90rem
  width: 100%

.icon
  color: $red
  font-size: 6rem !important

.heading
  letter-spacing: 1px
  margin: 4rem 0
  text-transform: uppercase
  white-space: nowrap
  font-size: 2.1rem
  font-weight: 600


@media only screen and (max-width: 1400px)
  .serviceWrapper
    margin: 0 3%

@media screen and (max-width: $laptop_1366)
  .serviceWrapper
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0

@media screen and (max-width: $responsiveBreakpoint)
  .wrapper
    margin: 5rem 0
  .serviceWrapper
    margin: 0 0 10rem 0
    &:last-child
      margin: 0 0 4rem 0

