@import "src/styles/globals"

.heading
    margin-bottom: 7rem

.i
    padding-right: 1rem

.sliderOverrides
    \:global
        .slick-list
            overflow: visible !important

.slider
    margin-bottom: 6rem !important


@media screen and (max-width: $tablet_768)
    .heading
        margin-bottom: 5rem

