@import "src/styles/globals"

.whiteSpaceWrapper
    padding: 0 6%

.screenshotWrapper
    overflow: hidden

.img
    width: 100%
    height: auto
    user-select: none


@media only screen and (max-width: 1180px)
    .whiteSpaceWrapper
        padding: 0 8%

@media only screen and (max-width: 800px)
    .whiteSpaceWrapper
        padding: 0 5%

@media only screen and (max-width: 800px)
    .whiteSpaceWrapper
        padding: 0 2.5%

@media only screen and (max-width: $mobile_600)
    .whiteSpaceWrapper
        padding: 0 6%

@media only screen and (max-width: 500px)
    .whiteSpaceWrapper
        padding: 0 2%
