@import "src/styles/globals"

.wrapper
  padding: 0 4rem

.icon
  +centerHorizontal
  font-size: 8rem !important
  color: $red

.quote
  font-size: 2.5rem
  text-align: center
  margin-bottom: 4rem

.author
  color: darken($white, 10)
  text-align: center
  font-size: 2rem
  font-style: italic

@media only screen and (max-width: 1250px)
  .quote
    font-size: 2.2rem
