@import "../../../../styles/globals"

.wrapper
  opacity: 0
  width: 0
  background-color: rgba(255, 255, 255, 0.97)
  z-index: 50
  position: fixed
  transition: opacity .6s ease, height 0s linear .6s, padding 0s linear .6s, width 0s linear .6s
  overflow: hidden
  height: 0
  padding: 0

.wrapperActive
  opacity: 1
  height: 100vh
  width: 100vw
  padding: 10rem
  transition: opacity .6s ease, height 0s linear 0s, padding 0s linear 0s, width 0s linear 0s

.linksWrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  list-style-type: none
  padding-top: 10rem
