@font-face
    font-display: swap
    font-family: 'Poppins'
    font-style: normal
    font-weight: 200
    src: url("../../static/fonts/Poppins-ExtraLight.ttf") format('truetype')

@font-face
    font-display: swap
    font-family: 'Poppins'
    font-style: normal
    font-weight: 300
    src: url("../../static/fonts/Poppins-Light.ttf") format('truetype')

@font-face
    font-display: swap
    font-family: 'Poppins'
    font-style: normal
    font-weight: 400
    src: url("../../static/fonts/Poppins-Regular.ttf") format('truetype')

@font-face
    font-display: swap
    font-family: 'Poppins'
    font-style: normal
    font-weight: 500
    src: url("../../static/fonts/Poppins-Medium.ttf") format('truetype')

@font-face
    font-display: swap
    font-family: 'Poppins'
    font-style: normal
    font-weight: 600
    src: url("../../static/fonts/Poppins-SemiBold.ttf") format('truetype')

@font-face
    font-display: swap
    font-family: 'Poppins'
    font-style: normal
    font-weight: 700
    src: url("../../static/fonts/Poppins-Bold.ttf") format('truetype')

@font-face
    font-display: block
    font-family: 'Material Icons'
    font-style: normal
    font-weight: 400
    src: url("../../static/fonts/material-custom.woff") format('woff')

\:global
    .material-icons
        font-family: 'Material Icons', sans-serif
        font-weight: normal
        font-style: normal
        font-size: 2.2rem
        display: inline-block
        line-height: 1
        text-transform: none
        letter-spacing: normal
        word-wrap: normal
        white-space: nowrap
        direction: ltr
        -webkit-font-smoothing: antialiased
        text-rendering: optimizeLegibility
        -moz-osx-font-smoothing: grayscale
        font-feature-settings: 'liga'
