@import "mediaBreakpoints"

$boxShadow: 2px 2px 6px rgba(0, 0, 0, 0.2)
$boxShadowBig: 3px 3px 9px rgba(0, 0, 0, 0.3)

$scrollBarColor: #656f7f

$red: #EC3E55
$white: rgba(255, 255, 255, 0.9)
$darkblue: #20262e
$darkestBlue: #1B1F26
$boxBlue: #202730

$background: $darkblue

$cursorAction: pointer

=firefoxScrollBarStyle()
  scrollbar-color: $scrollBarColor transparent
  scrollbar-width: thin

=center
  position: relative
  top: 50%
  left: 50%
  transform: translateY(-50%) translateX(-50%)

=centerHorizontal
  position: relative
  left: 50%
  transform: translateX(-50%)

=centerVertical
  position: relative
  top: 50%
  transform: translateY(-50%)

=responsivePadding
  padding: 0 20px
