@import "fonts"
@import "globals"

*
  font-family: "Poppins", sans-serif
  padding: 0
  margin: 0
  color: white
  box-sizing: border-box
  font-size: 1.6rem
  font-weight: 400
  line-height: 170%

html:root
  font-size: 62.5%

body, html
  background-color: $background
  overflow-x: hidden

p, a, li
  color: $white

a
  font-weight: 600
  text-decoration: none
  cursor: $cursorAction

i
  font-size: inherit
  color: inherit
  font-weight: inherit

b
  font-size: inherit
  color: inherit
  font-weight: 600

span
  font-size: inherit
  font-weight: inherit
  color: inherit

::-webkit-scrollbar
  background-color: transparent
  width: 9px
::-webkit-scrollbar-button
  background-color: transparent
::-webkit-scrollbar-track
  background-color: transparent
::-webkit-scrollbar-thumb
  border-radius: 12px
  background-color: $scrollBarColor
  &:hover
    background-color: darken($scrollBarColor, 10)

#ie11
  display: none
  position: absolute
  top: 50%
  left: 50%
  transform: translateY(-50%) translateX(-50%)
  text-align: center

@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active)
  #main
    display: none
  #ie11
    display: block
    cursor: pointer

@media screen and (max-width: $mobile_600)
  html:root
    font-size: 54%

@media screen and (max-width: 320px)
  html:root
    font-size: 45%
