@import "src/styles/globals"

.wrapper
  height: 100vh
  width: 100%
  position: relative
  overflow: hidden

.headingWrapper
  position: absolute
  top: 46%
  left: 50%
  transform: translateY(-50%) translateX(-50%)
  z-index: 10
  width: 100%
  max-width: 140rem

.typedText
  font-size: 6.1rem
  text-align: center
  margin-bottom: 1.6rem

.subTitle
  text-transform: uppercase
  font-size: 1.8rem
  letter-spacing: .38rem
  font-weight: 300
  color: $white
  white-space: nowrap
  text-align: center

.subTitleResponsive
  display: none

.transitionTop
  position: absolute
  top: 0
  height: 18rem
  width: 100%
  transform: rotate(180deg)
  background: linear-gradient(transparentize($darkblue, 1) 0%, transparentize($darkblue, 0.5) 30%, $darkblue 100%)
  z-index: 1

.transitionBottom
  position: absolute
  bottom: 0
  height: 20vh
  width: 100%
  background: linear-gradient(transparentize($darkblue, 1) 0%, transparentize($darkblue, 0.5) 30%, $darkblue 90%)
  z-index: 1

.subTitleDivider
  display: initial

.fadeIn
  position: relative
  width: 100%
  height: 100%

.bgImageOverlay
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0
  z-index: 1
  background-color: transparentize($darkblue, .07)

.bgImageWrapper
  width: 100%
  transform: scale(1.05)
  height: 100%
  position: absolute
  left: 0
  top: 0
  z-index: 0
  background-size: cover
  background-repeat: no-repeat
  background-position: center

@media screen and (max-width: 1600px)
  .typedText
    font-size: 5.7rem
  .subTitle
    font-size: 1.7rem

@media screen and (max-width: 1400px)
  .typedText
    font-size: 5.3rem
  .subTitle
    font-size: 1.6rem

@media screen and (max-width: 1200px)
  .typedText
    font-size: 5rem
  .subTitle
    font-size: 1.5rem

@media screen and (max-width: 1050px)
  .typedText
    font-size: 4.7rem
  .subTitle
    font-size: 1.4rem

@media screen and (max-width: 900px)
  .typedText
    font-size: 5.5vw
    margin-bottom: 2vw

@media screen and (max-width: 650px)
  .typedText
    line-height: 150%
    white-space: normal
    font-size: 7vw
    max-width: 90vw
    margin-left: auto
    margin-right: auto
    margin-bottom: 3.25rem
  .subTitle
    display: none
  .subTitleResponsive
    display: block
    font-size: 1.6rem

@media screen and (max-width: 600px)
  .typedText
    font-size: 8vw

@media screen and (max-width: 500px)
  .typedText
    font-size: 8.5vw

@media screen and (max-width: 440px)
  .typedText
    font-size: 8.2vw
  .subTitle
    font-size: 1.3rem

