@import "src/styles/globals"
@import "../Draggable.layout"

.slide
    margin-right: $slideMargin
    &:first-child
        margin-left: $overlayWidth
    &:last-child
        margin-right: $overlayWidth


@media screen and (max-width: $tablet_768)
    .slide
        margin-right: $slideMargin768
        &:first-child
            margin-left: $overlayWidth768
        &:last-child
            margin-right: $overlayWidth768

@media screen and (max-width: $mobile_600)
    .slide
        margin-right: $slideMargin600

@media screen and (max-width: 500px)
    .slide
        margin-right: $slideMargin500

