@import "src/styles/globals"

.browserBar
    background-color: $boxBlue
    width: 100%
    height: 3.4rem
    display: flex
    align-items: center

.dummyControlsWrapper
    display: flex
    margin-left: 2rem
    div
        width: 1rem
        height: 1rem
        border-radius: 100%
        margin-right: .8rem
        &:first-child
            background-color: #C13851
        &:nth-child(2)
            background-color: #FFC02F
        &:nth-child(3)
            background-color: #26BA41

@media only screen and (max-width: $tabletBig_1024)
    .browserBar
        height: 2rem
    .dummyControlsWrapper
        margin-left: 1rem
        div
            width: .6rem
            height: .6rem

@media only screen and (max-width: $mobile_600)
    .dummyControlsWrapper
        margin-left: 1rem
        div
            width: .5rem
            height: .5rem
            margin-right: .6rem
