@import "../../../styles/globals"

.button
    text-transform: uppercase
    padding: 1.1rem 3.2rem
    border-radius: 20rem
    cursor: $cursorAction
    font-size: 1.5rem
    display: flex
    align-items: center
    justify-content: center

.icon
    margin-right: 1.5rem

.filled
    letter-spacing: 1px
    background-color: $red
    font-weight: 500
    transition: box-shadow ease .2s, transform ease .2s
    &:hover
        transform: translateY(-4px)
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.21)

.outlined
    transition: background-color ease 200ms
    border: solid $red 3px
    background-color: transparent
    &:hover
        background-color: $red


@media screen and (max-width: 1250px)
    .button
        padding: 1rem 3rem
    .outlined
        border-width: 2px

@media screen and (max-width: $tablet_768)
    .button
        padding: .9rem 2.4rem
