@import "src/styles/globals"

.gradientOverlay
    position: absolute
    width: 20%
    height: 100%
    // gradient-style must in JavaScript file because color is dynamic
    z-index: 1
    top: 0
    pointer-events: none

.leftGradientOverlay
    left: 0

.rightGradientOverlay
    right: 0
