@import "src/styles/globals"

.heading
    margin-bottom: 10rem
    display: flex

.headingRespo
    margin-bottom: 10rem
    display: none

.sliderOverrides
    \:global
        .slick-list
            overflow: visible !important

@media only screen and (max-width: $mobile_600)
    .heading
        display: none
    .headingRespo
        display: flex
