@import "src/styles/globals"

// muss in px sein wegen media query
$maxWidth: 1050px

.wrapper
  padding: 0 6%

.text
  overflow-x: hidden
  word-wrap: break-word
  margin: 0 auto
  display: block
  text-align: justify
  text-align-last: justify
  font-weight: 200
  max-width: 1080px
  width: 100%
  font-size: 2rem
  hyphens: auto
  b
    font-size: 2.2rem
    letter-spacing: 1px
    font-weight: 500
  &:after
    content: ""
    width: 16rem
    height: 3px
    background-color: $red
    color: $red
    display: block
    margin: 9rem auto 0


@media screen and (max-width: (1050px + 200px))
  .text
    text-align-last: initial
    font-size: 1.9rem
    &:after
      margin-top: 7rem
    b
      font-size: 2rem

@media only screen and (max-width: $tabletBig_1024)
  .wrapper
    margin: 9rem 0 13rem 0


@media screen and (max-width: $tablet_768)
  .text
    font-size: 1.7rem
    b
      font-size: 1.8rem

@media only screen and (max-width: $mobile_600)
  .wrapper
    margin: 6rem 0 10rem 0
