@import "../../../../styles/globals"

$responsiveBreakpoint: 1130px

.wrapper
    display: flex
    justify-content: space-between
    align-items: flex-start
    width: 100%


@media screen and (max-width: $responsiveBreakpoint)
    .wrapper
        flex-direction: column
