@import "../../../../../styles/globals"

.slideWrapper
    padding: 0 6rem

.innerBox
    display: flex
    justify-content: center
    align-items: center
    img
        width: 100%
        height: auto


@media only screen and (max-width: 1500px)
    .slideWrapper
        padding: 0 3rem

@media only screen and (max-width: 1250px)
    .slideWrapper
        padding: 0 1.5rem

@media only screen and (max-width: 1050px)
    .slideWrapper
        padding: 0 7%

@media only screen and (max-width: $mobile_600)
    .slideWrapper
        padding: 0
