@import "src/styles/globals"
@import "Draggable.layout"

$gradientEnd: $darkestBlue
$gradient80: transparentize($gradientEnd, 0.2)
$gradient60: transparentize($gradientEnd, 0.4)
$gradient40: transparentize($gradientEnd, 0.6)
$gradient20: transparentize($gradientEnd, 0.8)
$gradient0: transparentize($gradientEnd, 1)

.outerWrapper
    position: relative
    width: 100%

.wrapper
    scrollbar-width: none
    -ms-overflow-style: none
    width: 100%
    overflow-x: scroll
    overflow-y: hidden
    display: flex
    user-select: none
    padding: 2rem 0
    &::-webkit-scrollbar
        width: 0
        height: 0

.slidesWrapper
    display: flex
    margin: auto
    position: relative

.overlay
    position: absolute
    width: $overlayWidth
    height: 100%
    top: 0
    z-index: 5
    background: linear-gradient(to left, $gradient0, $gradientEnd)

.overlayRight
    right: 0
    transform: rotate(180deg)


@media screen and (max-width: $tablet_768)
    .overlay
        width: $overlayWidth768
