@import "../../../../../styles/globals"
@import "../ContactBox.layout"

.wrapper
  width: 30%
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center

.icon
  font-size: 4.8rem !important
  color: $red
  text-align: center
  margin-bottom: 3rem

.heading
  text-transform: uppercase
  font-size: 2.1rem
  font-weight: 500
  letter-spacing: 1px
  margin-bottom: 5rem
  text-align: center

.text
  text-align: center
  min-height: 14rem

.button
  max-width: 30rem
  margin: auto
  font-size: 1.4rem
  padding-right: 2.8rem
  padding-left: 2.8rem


@media only screen and (max-width: $responsiveBreakpoint)
  .wrapper
    margin-bottom: 8rem
    background-color: transparentize($boxBlue, 0.5)
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.12)
    padding: 4rem 4rem 6rem
    width: 94%
    max-width: 60rem
    border-radius: 18px
  .text
    min-height: initial
    margin-bottom: 6rem

@media only screen and (max-width: $mobile_600)
  .wrapper
    padding: 4rem 4rem 6rem
  .text
    font-size: 1.7rem
  .heading
    font-size: 2.3rem
  .button
    font-size: 1.6rem
