@import "src/styles/globals"

.wrapper
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.img
  height: 75px
  width: auto

.imgText
  font-weight: 300
  font-size: 1.3rem
  text-transform: uppercase
  margin-top: 1.5rem

@media only screen and (max-width: $tabletBig_1024)
  .img
    height: 65px

@media only screen and (max-width: 780px)
  .img
    height: 58px

@media only screen and (max-width: $mobile_600)
  .img
    height: 54px

@media only screen and (max-width: 500px)
  .img
    height: 50px

@media only screen and (max-width: 400px)
  .img
    height: 45px
