@import "src/styles/globals"
@import "ContactBox.layout"

.wrapper
  width: 77%
  height: 68rem
  background-color: $boxBlue
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2)
  margin: -5rem auto 5rem auto
  position: relative
  bottom: -15rem
  display: flex
  flex-direction: column

.topBar
  height: 4rem
  background-color: #1D242B

.buttons
  position: absolute
  left: 2rem
  top: 50%
  transform: translateY(-50%)

.boxContent
  display: flex
  justify-content: space-between
  width: 90%
  margin: auto

@media only screen and (max-width: 1650px)
  .wrapper
    width: 88%

@media only screen and (max-width: 1450px)
  .wrapper
    width: 92%
    .boxContent
      width: 94%

@media only screen and (max-width: $responsiveBreakpoint)
  .wrapper
    width: 100%
    margin: initial
    height: initial
    box-shadow: initial
    background-color: $background
    bottom: initial
  .topBar
    display: none
  .boxContent
    flex-direction: column
    margin: 10rem auto 7.5rem auto
    align-items: center
