@import "../styles/globals"

.contentWrapper
  padding: 25rem 0
  margin: 0 auto
  max-width: 100rem
  width: 88%
  a
    text-decoration: underline
  ul
    list-style-position: inside
  h2, h3
    margin: 4rem 0 4rem 0
    font-size: 2rem
    font-weight: 600
    text-align: left
    &:after
      content: ""
      background-color: $red
      width: 4.5rem
      height: .3rem
      display: block
      margin-top: 1.5rem
  p
    margin: 1em 0 1.5em 0
    strong
      font-size: 140%
  h4
    margin: 4rem 0 4rem 0
    font-size: 2rem
    font-weight: 600
    text-align: left
