@import "src/styles/globals"

.wrapper
  background-color: $darkestBlue
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.27)
  display: flex
  justify-content: center
  align-items: center
  padding: 6rem
  .link
    color: transparentize($white, .2)
    font-size: 1.6rem
    text-transform: initial
    font-weight: 400
    padding: 0 2rem
    &:hover
      color: $white

@media screen and (max-width: 400px)
  .nav
    display: flex
    flex-wrap: wrap
    justify-content: center
    a:last-of-type
      margin-top: 1rem
