@import "src/styles/globals"

.wrapperHorizontal
  display: flex

.lineHorizontal
  width: 10.7rem
  height: .4rem
  background-color: $red
  margin: 2.2rem 3rem 0 0

.wrapperVertical
  display: flex
  position: relative

.lineVertical
  +centerVertical
  position: absolute
  width: .3rem
  background-color: $red
  height: 100%

.headlinesWrapper
  padding-left: 3rem

.headline
  font-weight: 600
  font-size: 3.2rem
  letter-spacing: .25rem

.subHeadline, a
  font-weight: 200
  font-size: 1.9rem
  color: $white
  max-width: 70vw
  a
    font-weight: 400
    text-decoration: none

.subHeadlineSmaller
  font-size: 1.8rem !important


@media screen and (max-width: 1250px)
  .headline
    font-size: 2.8rem
  .subHeadline
    font-size: 1.7rem
  .subHeadlineSmaller
    font-size: 1.5rem
  .lineHorizontal
    width: 8rem
    margin: 1.8rem 3rem 0 0

@media screen and (max-width: $tabletBig_1024)
  .headline
    letter-spacing: .2rem
    font-size: 2.7rem
  .subHeadline
    font-size: 1.6rem
  .subHeadlineSmaller
    font-size: 1.4rem
  .lineHorizontal
    margin: 1.7rem 3rem 0 0
  .lineHorizontal
    width: 7rem

@media screen and (max-width: $tablet_768)
  .lineHorizontal
    width: 6rem

@media screen and (max-width: $mobile_600)
  .headlinesWrapper
    padding-left: 2.5rem
  .headline
    font-size: 2.5rem
    letter-spacing: .15rem
  .subHeadline
    font-size: 1.7rem
  .subHeadlineSmaller
    font-size: 1.5rem
  .lineHorizontal
    width: 8%
    margin: 1.5rem 2rem 0 0
