@import "../../../../styles/globals"

.webprojekteWrapper
    padding: 0 6rem

@media only screen and (max-width: 1250px)
    .webprojekteWrapper
        padding: 0 4rem

@media only screen and (max-width: 1050px)
    .webprojekteWrapper
        padding: 0 10rem

@media only screen and (max-width: 850px)
    .webprojekteWrapper
        padding: 0 7rem

@media only screen and (max-width: $tablet_768)
    .webprojekteWrapper
        padding: 0 4rem

@media only screen and (max-width: $mobile_600)
    .webprojekteWrapper
        padding: 0
