@import "../../../styles/globals"

.outerWrapper
  width: 100%
  position: relative

.contentBox
  width: 94%
  min-height: 30rem
  background-color: $boxBlue
  margin: 0 auto
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18)
  border-radius: 10px
  padding: 8rem
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  z-index: 1

.header
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center

.content
  margin: 12rem 0 8rem
  width: 100%
  max-width: 170rem
  position: relative

.backdrop
  transform: scaleY(0.92)
  top: 0
  left: 0
  bottom: 0
  right: 0
  position: absolute
  z-index: 0
  background: transparent linear-gradient(180deg, #00000000 0%, #0000001F 12%, #0000001F 88%, #00000000 100%) 0 0 no-repeat padding-box

.ctaTopRight
  display: block


@media screen and (max-width: 1250px)
  .contentBox
    padding: 6rem

@media screen and (max-width: $tabletBig_1024)
  .contentBox
    width: 100%
    box-shadow: none
    background-color: lighten($boxBlue, 0.7)
    padding: 8rem 6rem 7rem

@media screen and (max-width: $tablet_768)
  .contentBox
    width: 100%
    box-shadow: none
    background-color: lighten($boxBlue, 0.7)
    padding: 9vw 6%
  .ctaTopRight
    display: none

@media only screen and (max-width: $mobile_600)
  .contentBox
    padding: 8rem 6%
  .content
    margin: 10rem 0 6rem
