@import "src/styles/globals"

.wrapper
  height: 100%
  width: 100%

.boxWrapper
  width: 85%
  margin: auto
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  padding-top: 10rem

@media only screen and (max-width: 1250px)
  .boxWrapper
    width: 90%

@media only screen and (max-width: $tablet_768)
  .boxWrapper
    justify-content: center
    width: 95%

@media only screen and (max-width: $mobile_600)
  .boxWrapper
    width: 88%
