@import "src/styles/globals"
@import "slick"

.slickSliderWrapper
    position: relative

.dotsWrapper
    position: relative
    z-index: 2

.dots
    position: absolute
    bottom: -2.5rem
    list-style: none
    display: block
    text-align: center
    padding: 0
    margin: 0
    width: 100%
    li
        position: relative
        display: inline-block
        height: 2rem
        width: 2rem
        margin: 0 5px
        padding: 0
        cursor: $cursorAction
        div
            width: 1.2rem
            height: 1.2rem
            border-radius: 50%
            background-color: rgba(255, 255, 255, 0.28)
            cursor: $cursorAction
            position: absolute
            +center
            &:hover, &:focus
                background-color: rgba(255, 255, 255, 0.69)
    \:global(.slick-active) div
        background-color: $red


@media screen and (max-width: $mobile_600)
    .dotsWrapper
        margin-top: 5rem

@media screen and (max-width: $mobile_600)
    .dotsWrapper
        margin-top: 5rem
