@import "../../../styles/globals"

.link
    text-transform: uppercase
    text-align: center
    font-size: 3.5rem
    font-weight: 200
    color: $darkblue
    line-height: 5.5rem
    cursor: $cursorAction
    padding-bottom: .5rem
    white-space: nowrap
    &:hover
        color: transparentize($red, 0.1)
        font-weight: 300

.active
    color: $red
    font-weight: 300
