@import "src/styles/globals"

.wrapper
  max-width: 50rem
  width: 100%
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.18)
  border-radius: 14px
  background-color: #222830
  padding: 4rem 4rem 5rem
  margin-bottom: 6rem
  p
    font-weight: 300
  p b
    font-weight: 700

.headingWrapper
  display: flex
  align-items: center
  margin-bottom: 1.5rem

.icon
  color: $red
  padding-right: 2rem
  font-size: 4rem !important

.heading
  font-weight: 600
  font-size: 2rem

@media only screen and (max-width: 1800px)
  .wrapper
    max-width: initial
    width: 40vw

@media only screen and (max-width: 1250px)
  .wrapper
    width: 42vw
  .heading
    font-size: 1.8rem

@media only screen and (max-width: $tabletBig_1024)
  .wrapper
    padding: 3rem 3rem 4rem

@media only screen and (max-width: 1000px)
  .wrapper
    padding: 6rem 5rem 7rem
    max-width: initial
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center

@media only screen and (max-width: $tablet_768)
  .wrapper
    max-width: 68rem
    width: 100%

@media only screen and (max-width: $mobile_600)
  .wrapper
    padding: 5rem 4rem 6rem
    p
      font-size: 1.7rem

@media only screen and (max-width: 450px)
  .wrapper
    padding: 3.5rem 2.5rem 4rem


@media screen and (min-width: 2200px)
  .wrapper
    max-width: initial
    width: 30%
