@import "src/styles/globals"

.wrapper
  background-color: $darkestBlue
  width: 100%
  height: 37rem
  display: flex
  align-items: center
  justify-content: center
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.27)

.stackLogoWrapper
  width: 100%

.firebase
  p
    margin-left: 15%

@media only screen and (max-width: $tabletBig_1024)
  .wrapper
    height: 33rem

@media only screen and (max-width: $tablet_768)
  .wrapper
    height: 31rem

@media only screen and (max-width: $mobile_600)
  .wrapper
    height: 29rem

@media only screen and (max-width: 500px)
  .wrapper
    height: 27.5rem

@media only screen and (max-width: 400px)
  .wrapper
    height: 26rem
