@import "../../../../../styles/globals"

$clientImageSize: 13rem

.slideWrapper
    padding: 0 7rem

.innerBox
    display: flex
    flex-direction: column
    align-items: center
    height: 100%
    min-height: 35rem
    h3
        font-weight: 400
        font-size: 2.2rem
        margin-bottom: .3rem
    h4
        color: transparentize($white, 0.22)
        font-weight: 200
        font-size: 1.5rem
    p
        font-size: 1.6rem
        font-weight: 300
        color: $white

.imgWrapper
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.23)
    width: $clientImageSize
    min-height: $clientImageSize
    height: $clientImageSize
    margin-bottom: 2.5rem
    display: block
    border-radius: 100%
    overflow: hidden
    img
        +centerHorizontal
        width: auto
        height: 100%

.starsWrapper
    margin: 2.4rem 0
    svg
        fill: $white

@media only screen and (max-width: $mobile_600)
    .slideWrapper
        padding: 0 1rem
        margin-bottom: 2rem
