@import "src/styles/globals"

.wrapper
  position: fixed
  left: 0
  bottom: 0
  padding: 2.5rem 1.5rem
  background-color: #202730
  z-index: 10
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  border-top: 3px solid #EC3E55
  opacity: 1
  visibility: visible

.fadeInZIndex
  z-index: 99
  position: relative

.content
  max-width: 1080px
  margin: auto
  width: 100%
  display: flex
  p
    overflow-x: hidden
    word-wrap: break-word
    margin: 0 auto
    display: block
    font-weight: 200
    font-size: 1.6rem
    hyphens: auto
    a
      font-size: 1.6rem
      color: #EC3E55
      &:hover
        text-decoration: underline
  div
    display: flex
    flex-direction: column
    min-width: 200px
    margin-left: 2rem
    button
      appearance: none
      border: none
      outline: none
      background-color: #EC3E55
      color: white
      border-radius: 20rem
      cursor: pointer
      &:first-of-type
        margin-bottom: 1rem
        &:hover
          background-color: #ff5e70
      &:last-of-type
        background-color: rgba(255, 255, 255, 0.3)
        color: black
        &:hover
         background-color: rgba(255, 255, 255, 0.5)

.hide
  transition: visibility .5s ease, opacity .5s ease
  opacity: 0
  visibility: hidden

@media screen and (max-width: ($tabletBig_1024))
  .content
    flex-direction: column
    div
      margin: 2rem 0 1rem 0
