@import "../../../../../styles/globals"
@import "../service.module.sass"

.text
  color: $white
  overflow-x: hidden
  text-align: justify
  word-break: break-word
  font-weight: 300
  font-size: 1.7rem

@media only screen and (max-width: $responsiveBreakpoint)
  .text
    max-width: 70rem
