@import "../../../../styles/globals"
@import "../Header.module"

.outerWrapper
  cursor: $cursorAction
  z-index: 9999
  height: 5.9rem

.burgerWrapper
  height: 3.2rem
  width: 3.2rem
  position: relative
  &.active
    .menu-label
      opacity: 0
    .line:before, .line:after
      transition: 400ms
    .line
      background: rgba(0,0,0,0)
      transition: 0ms
      &:before
        top: 0
        transform: rotate(45deg)
      &:after
        top: 0
        transform: rotate(135deg)

.line, .line:before, .line:after
  width: 100%
  height: 3px
  position: absolute
  background-color: $red
  border-radius: 3px

.line
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  transition: background-color ease 0.2s .15s
  &:before, &:after
    content: ''
    transition: transform ease .5s, background-color ease .3s .2s, top ease .5s
  &:before
    top: -1.3rem
  &:after
    top: 1.3rem


.menu-label
  text-align: center
  font-size: 1.1rem
  font-weight: 200
  letter-spacing: 0.1rem
  margin-top: .7rem
  transition: opacity ease 200ms
  color: white

@media only screen and (max-width: $responsiveBreakpoint)
  .menu-label
    display: none
