@import "src/styles/globals"

.rezensionenContent
  margin-bottom: 8rem


@media only screen and (max-width: $tabletBig_1024)
  .rezensionenContentBoxWrapper
    margin: 14rem 0 0

@media only screen and (max-width: $mobile_600)
  .rezensionenContentBoxWrapper
    margin: 8rem 0 0
