@import "src/styles/globals"

$normalSize: 20px
$laggySize: 30px

\:export
    laggySize: $laggySize
    normalSize: $normalSize

.cursor
    z-index: 99999
    position: fixed
    pointer-events: none
    will-change: transform

.normal
    border-radius: 100%
    width: $normalSize
    height: $normalSize
    background: rgb(236, 62, 85)

.normalHovered
    background: rgba(236, 227, 234, 0.41)

.laggy
    transition: transform ease-out 220ms
    div
        border-radius: 100%
        border: solid #ff3e5e 3px
        width: $laggySize
        height: $laggySize
        transform-origin: center
        animation: cursorAnim .8s infinite alternate ease
        &:after
            position: absolute
            content: ""
            display: block
            width: $laggySize
            height: $laggySize
            border-radius: 100%
            border: solid 7px rgba(178, 43, 66, 0.35)
            top: -10px
            left: -10px
            animation: cursorAnim2 .8s infinite alternate ease

.laggyHovered
    div
        border: solid rgba(251, 255, 251, 0.84) 3px
        animation: cursorAnim .6s infinite alternate ease
        &:after
            border: solid 7px rgba(255, 255, 251, 0.34)
            animation: cursorAnim2 .6s infinite alternate ease


@keyframes cursorAnim
    from
        transform: scale(1)
    to
        transform: scale(.8)

@keyframes cursorAnim2
    from
        transform: scale(1)
    to
        transform: scale(.5)

body
    cursor: none

@supports (-ms-ime-align: auto)
    body
        cursor: initial
    .cursor
        display: none
