@import "src/styles/globals"

$size: 3rem
$hideArrowsAt: $mobile_600

\:export
    hideArrowsAt: $hideArrowsAt


.arrow
    margin: 0 .5rem
    background-color: $red
    width: $size
    height: $size
    border-radius: 100%
    display: flex
    +centerVertical
    position: absolute
    z-index: 2
    cursor: $cursorAction
    svg
        // svg transform scale must be in javascript file. you can find it there
        margin: auto
        fill: white

.next
    right: 0

.prev
    left: 0

@media only screen and (max-width: $hideArrowsAt)
    .arrow
        display: none !important
